<h3 class="title" *ngIf="!(currentUser | async)">You need to type a new name or choose a registered user</h3>
<div class="login-group" *ngIf="!(currentUser | async)">
    <input [(ngModel)]="usernameWaitForRegistration" style="width: 70%" type="text" placeholder="Nickname" size="45">
    <button style="width: 20%" class="btn btn-success-outline" (click)="signIn()" [disabled]="!usernameWaitForRegistration">Enter</button>
</div>
<div *ngIf="(currentUser | async)" >
    <h3 class="title">You are signed in as {{currentUser | async}}</h3>
    <button class="btn btn-outline logout-button" style="top: 30px;" (click)="directToList()">to list</button>
    <button class="btn btn-danger-outline btn-sm logout-button" (click)="logout()">logout</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th>user name</th>
            <th>registered time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of registeredUsers">
            <td>{{user.username}}</td>
            <td>{{user.registeredTime | date: 'MM-dd HH:mm'}}</td>
        </tr>
    </tbody>
</table>
