
<h3 class="welcome">
    Welcome, {{currentUser}}
</h3>
<button class="btn btn-danger-outline btn-sm logout-button" (click)="logout()">logout</button>

<div class="container">
    <input [(ngModel)]="todoTitle" class="container__title" placeholder="title" #title>
    <input [(ngModel)]="todoText" class="container__text" placeholder="text" #text>
    <button
    class="btn btn-outline container__button"
    [disabled]="!todoTitle || !todoText"
    (click)="addTodoItem()">add</button>
</div>

<clr-datagrid>
    <clr-dg-column>Title</clr-dg-column>
    <clr-dg-column>Text</clr-dg-column>
    <clr-dg-column>Time</clr-dg-column>
    <clr-dg-column>Operation</clr-dg-column>
    <clr-dg-placeholder>No Todos right now!</clr-dg-placeholder>

    <clr-dg-row *ngFor="let todo of todos">
        <clr-dg-cell>{{todo.title}}</clr-dg-cell>
        <clr-dg-cell>{{todo.text}}</clr-dg-cell>
        <clr-dg-cell>{{todo.date | date: 'MM-dd HH:mm'}}</clr-dg-cell>
        <button class="btn btn-warning-outline" (click)="deleteItem(todo)">delete</button>
    </clr-dg-row>

    <clr-dg-footer>{{todos.length}} todos</clr-dg-footer>
</clr-datagrid>

